<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_0_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_0_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_2"/>
    <origin xyz="-3.5 8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_0_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_0_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_5"/>
    <origin xyz="-0.5 8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_0_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_0_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_6"/>
    <origin xyz="0.5 8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_0_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_0_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_9"/>
    <origin xyz="3.5 8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_2"/>
    <origin xyz="-3.5 7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_5"/>
    <origin xyz="-0.5 7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_6"/>
    <origin xyz="0.5 7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_9"/>
    <origin xyz="3.5 7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_2_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_2_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_2"/>
    <origin xyz="-3.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_2_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_2_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_5"/>
    <origin xyz="-0.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_2_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_2_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_6"/>
    <origin xyz="0.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_2_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_2_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_9"/>
    <origin xyz="3.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_3_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_3_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_2"/>
    <origin xyz="-3.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_3_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_3_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_5"/>
    <origin xyz="-0.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_3_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_3_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_6"/>
    <origin xyz="0.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_3_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_3_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_9"/>
    <origin xyz="3.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_2"/>
    <origin xyz="-3.5 4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_5"/>
    <origin xyz="-0.5 4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_6"/>
    <origin xyz="0.5 4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_9"/>
    <origin xyz="3.5 4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_2"/>
    <origin xyz="-3.5 3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_5"/>
    <origin xyz="-0.5 3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_6"/>
    <origin xyz="0.5 3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_9"/>
    <origin xyz="3.5 3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_6_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_6_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_2"/>
    <origin xyz="-3.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_6_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_6_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_5"/>
    <origin xyz="-0.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_6_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_6_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_6"/>
    <origin xyz="0.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_6_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_6_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_9"/>
    <origin xyz="3.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_7_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_7_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_2"/>
    <origin xyz="-3.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_7_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_7_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_5"/>
    <origin xyz="-0.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_7_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_7_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_6"/>
    <origin xyz="0.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_7_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_7_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_9"/>
    <origin xyz="3.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_10_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_10_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_2"/>
    <origin xyz="-3.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_10_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_10_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_5"/>
    <origin xyz="-0.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_10_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_10_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_6"/>
    <origin xyz="0.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_10_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_10_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_9"/>
    <origin xyz="3.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_11_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_11_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_2"/>
    <origin xyz="-3.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_11_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_11_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_5"/>
    <origin xyz="-0.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_11_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_11_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_6"/>
    <origin xyz="0.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_11_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_11_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_9"/>
    <origin xyz="3.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_2"/>
    <origin xyz="-3.5 -3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_5"/>
    <origin xyz="-0.5 -3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_6"/>
    <origin xyz="0.5 -3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_9"/>
    <origin xyz="3.5 -3.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_2"/>
    <origin xyz="-3.5 -4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_5"/>
    <origin xyz="-0.5 -4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_6"/>
    <origin xyz="0.5 -4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_9"/>
    <origin xyz="3.5 -4.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_14_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_14_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_2"/>
    <origin xyz="-3.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_14_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_14_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_5"/>
    <origin xyz="-0.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_14_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_14_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_6"/>
    <origin xyz="0.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_14_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_14_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_9"/>
    <origin xyz="3.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_15_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_15_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_2"/>
    <origin xyz="-3.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_15_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_15_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_5"/>
    <origin xyz="-0.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_15_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_15_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_6"/>
    <origin xyz="0.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_15_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_15_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_9"/>
    <origin xyz="3.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_2"/>
    <origin xyz="-3.5 -7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_5"/>
    <origin xyz="-0.5 -7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_6"/>
    <origin xyz="0.5 -7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_9"/>
    <origin xyz="3.5 -7.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_2"/>
    <origin xyz="-3.5 -8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_5"/>
    <origin xyz="-0.5 -8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_6"/>
    <origin xyz="0.5 -8.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_9"/>
    <origin xyz="3.5 -8.5 0.15" rpy="0 0 0"/>
  </joint>

</robot>