<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_1_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_2"/>
    <origin xyz="-15.5 13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_8"/>
    <origin xyz="-9.5 13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_14"/>
    <origin xyz="-3.5 13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_20"/>
    <origin xyz="2.5 13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_26"/>
    <origin xyz="8.5 13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_32"/>
    <origin xyz="14.5 13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_5"/>
    <origin xyz="-12.5 10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_11"/>
    <origin xyz="-6.5 10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_17"/>
    <origin xyz="-0.5 10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_23"/>
    <origin xyz="5.5 10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_4_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_29"/>
    <origin xyz="11.5 10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_2"/>
    <origin xyz="-15.5 9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_8"/>
    <origin xyz="-9.5 9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_14"/>
    <origin xyz="-3.5 9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_20"/>
    <origin xyz="2.5 9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_26"/>
    <origin xyz="8.5 9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_5_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_5_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_32"/>
    <origin xyz="14.5 9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_8_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_8_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_8_5"/>
    <origin xyz="-12.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_8_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_8_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_8_11"/>
    <origin xyz="-6.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_8_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_8_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_8_17"/>
    <origin xyz="-0.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_8_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_8_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_8_23"/>
    <origin xyz="5.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_8_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_8_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_8_29"/>
    <origin xyz="11.5 6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_9_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_9_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_9_2"/>
    <origin xyz="-15.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_9_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_9_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_9_8"/>
    <origin xyz="-9.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_9_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_9_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_9_14"/>
    <origin xyz="-3.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_9_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_9_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_9_20"/>
    <origin xyz="2.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_9_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_9_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_9_26"/>
    <origin xyz="8.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_9_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_9_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_9_32"/>
    <origin xyz="14.5 5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_5"/>
    <origin xyz="-12.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_11"/>
    <origin xyz="-6.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_17"/>
    <origin xyz="-0.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_23"/>
    <origin xyz="5.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_12_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_12_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_29"/>
    <origin xyz="11.5 2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_2"/>
    <origin xyz="-15.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_8"/>
    <origin xyz="-9.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_14"/>
    <origin xyz="-3.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_20"/>
    <origin xyz="2.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_26"/>
    <origin xyz="8.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_13_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_32"/>
    <origin xyz="14.5 1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_5"/>
    <origin xyz="-12.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_11"/>
    <origin xyz="-6.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_17"/>
    <origin xyz="-0.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_23"/>
    <origin xyz="5.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_16_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_29"/>
    <origin xyz="11.5 -1.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_2"/>
    <origin xyz="-15.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_8"/>
    <origin xyz="-9.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_14"/>
    <origin xyz="-3.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_20"/>
    <origin xyz="2.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_26"/>
    <origin xyz="8.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_17_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_17_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_32"/>
    <origin xyz="14.5 -2.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_20_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_20_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_20_5"/>
    <origin xyz="-12.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_20_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_20_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_20_11"/>
    <origin xyz="-6.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_20_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_20_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_20_17"/>
    <origin xyz="-0.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_20_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_20_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_20_23"/>
    <origin xyz="5.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_20_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_20_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_20_29"/>
    <origin xyz="11.5 -5.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_21_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_21_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_21_2"/>
    <origin xyz="-15.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_21_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_21_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_21_8"/>
    <origin xyz="-9.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_21_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_21_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_21_14"/>
    <origin xyz="-3.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_21_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_21_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_21_20"/>
    <origin xyz="2.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_21_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_21_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_21_26"/>
    <origin xyz="8.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_21_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_21_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_21_32"/>
    <origin xyz="14.5 -6.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_24_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_24_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_24_5"/>
    <origin xyz="-12.5 -9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_24_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_24_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_24_11"/>
    <origin xyz="-6.5 -9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_24_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_24_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_24_17"/>
    <origin xyz="-0.5 -9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_24_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_24_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_24_23"/>
    <origin xyz="5.5 -9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_24_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_24_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_24_29"/>
    <origin xyz="11.5 -9.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_25_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_2"/>
    <origin xyz="-15.5 -10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_25_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_8"/>
    <origin xyz="-9.5 -10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_25_14">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_14" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_14"/>
    <origin xyz="-3.5 -10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_25_20">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_20" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_20"/>
    <origin xyz="2.5 -10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_25_26">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_26" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_26"/>
    <origin xyz="8.5 -10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_25_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_32"/>
    <origin xyz="14.5 -10.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_28_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_5"/>
    <origin xyz="-12.5 -13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_28_11">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_11" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_11"/>
    <origin xyz="-6.5 -13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_28_17">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_17" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_17"/>
    <origin xyz="-0.5 -13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_28_23">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_23" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_23"/>
    <origin xyz="5.5 -13.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_28_29">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0.5 0 0.3"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_29" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_29"/>
    <origin xyz="11.5 -13.5 0.15" rpy="0 0 0"/>
  </joint>

</robot>