<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_1_1">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_1" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_1"/>
    <origin xyz="-0.5 0.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_1_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_2"/>
    <origin xyz="0.5 0.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_2_1">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_2_1" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_1"/>
    <origin xyz="-0.5 -0.5 0.15" rpy="0 0 0"/>
  </joint>


  <link name="block_2_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.3"/>
      </geometry>
      <material name="wall">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_2_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_2"/>
    <origin xyz="0.5 -0.5 0.15" rpy="0 0 0"/>
  </joint>

</robot>