<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_0_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_3"/>
    <origin xyz="-2.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_0_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_4"/>
    <origin xyz="-1.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_0_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_7"/>
    <origin xyz="1.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_0_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_8"/>
    <origin xyz="2.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_3"/>
    <origin xyz="-2.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_4"/>
    <origin xyz="-1.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_7"/>
    <origin xyz="1.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_8"/>
    <origin xyz="2.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_3"/>
    <origin xyz="-2.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_4"/>
    <origin xyz="-1.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_7"/>
    <origin xyz="1.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_8"/>
    <origin xyz="2.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_3"/>
    <origin xyz="-2.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_4"/>
    <origin xyz="-1.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_7"/>
    <origin xyz="1.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_8"/>
    <origin xyz="2.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_3"/>
    <origin xyz="-2.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_4"/>
    <origin xyz="-1.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_7"/>
    <origin xyz="1.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_8"/>
    <origin xyz="2.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_3"/>
    <origin xyz="-2.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_4"/>
    <origin xyz="-1.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_7"/>
    <origin xyz="1.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_8"/>
    <origin xyz="2.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_3"/>
    <origin xyz="-2.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_4"/>
    <origin xyz="-1.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_7"/>
    <origin xyz="1.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_8"/>
    <origin xyz="2.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_3"/>
    <origin xyz="-2.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_4"/>
    <origin xyz="-1.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_7"/>
    <origin xyz="1.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_8"/>
    <origin xyz="2.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_3"/>
    <origin xyz="-2.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_4"/>
    <origin xyz="-1.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_7"/>
    <origin xyz="1.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_8"/>
    <origin xyz="2.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_3"/>
    <origin xyz="-2.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_4"/>
    <origin xyz="-1.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_7"/>
    <origin xyz="1.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_8"/>
    <origin xyz="2.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_3"/>
    <origin xyz="-2.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_4"/>
    <origin xyz="-1.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_7"/>
    <origin xyz="1.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_8"/>
    <origin xyz="2.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_3"/>
    <origin xyz="-2.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_4"/>
    <origin xyz="-1.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_7"/>
    <origin xyz="1.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_8"/>
    <origin xyz="2.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_3"/>
    <origin xyz="-2.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_4"/>
    <origin xyz="-1.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_7"/>
    <origin xyz="1.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_8"/>
    <origin xyz="2.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_3"/>
    <origin xyz="-2.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_4"/>
    <origin xyz="-1.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_7"/>
    <origin xyz="1.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_8"/>
    <origin xyz="2.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_3"/>
    <origin xyz="-2.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_4"/>
    <origin xyz="-1.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_7"/>
    <origin xyz="1.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_8"/>
    <origin xyz="2.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_3"/>
    <origin xyz="-2.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_4"/>
    <origin xyz="-1.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_7"/>
    <origin xyz="1.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_8"/>
    <origin xyz="2.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>

</robot>