<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_5_1">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_1" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_1"/>
    <origin xyz="-3.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_2" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_2"/>
    <origin xyz="-2.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_3" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_3"/>
    <origin xyz="-1.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_4"/>
    <origin xyz="-0.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_5"/>
    <origin xyz="0.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_6">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_6" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_6"/>
    <origin xyz="1.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_7">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_7" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_7"/>
    <origin xyz="2.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_8"/>
    <origin xyz="3.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_9"/>
    <origin xyz="4.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>

</robot>