<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_0_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_4"/>
    <origin xyz="-2.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_0_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_5"/>
    <origin xyz="-1.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_0_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_8"/>
    <origin xyz="1.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_0_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_0_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_0_9"/>
    <origin xyz="2.5 8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_4"/>
    <origin xyz="-2.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_5"/>
    <origin xyz="-1.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_8"/>
    <origin xyz="1.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_1_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_1_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_9"/>
    <origin xyz="2.5 7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_4"/>
    <origin xyz="-2.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_5"/>
    <origin xyz="-1.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_8"/>
    <origin xyz="1.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_2_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_2_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_2_9"/>
    <origin xyz="2.5 6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_4"/>
    <origin xyz="-2.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_5"/>
    <origin xyz="-1.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_8"/>
    <origin xyz="1.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_3_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_3_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_3_9"/>
    <origin xyz="2.5 5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_4"/>
    <origin xyz="-2.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_5"/>
    <origin xyz="-1.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_8"/>
    <origin xyz="1.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_4_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_4_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_9"/>
    <origin xyz="2.5 4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_4"/>
    <origin xyz="-2.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_5"/>
    <origin xyz="-1.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_8"/>
    <origin xyz="1.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_5_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_5_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_5_9"/>
    <origin xyz="2.5 3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_4"/>
    <origin xyz="-2.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_5"/>
    <origin xyz="-1.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_8"/>
    <origin xyz="1.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_6_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_6_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_6_9"/>
    <origin xyz="2.5 2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_4"/>
    <origin xyz="-2.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_5"/>
    <origin xyz="-1.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_8"/>
    <origin xyz="1.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_7_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_7_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_9"/>
    <origin xyz="2.5 1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_4"/>
    <origin xyz="-2.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_5"/>
    <origin xyz="-1.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_8"/>
    <origin xyz="1.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_10_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_10_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_9"/>
    <origin xyz="2.5 -1.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_4"/>
    <origin xyz="-2.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_5"/>
    <origin xyz="-1.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_8"/>
    <origin xyz="1.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_11_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_11_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_11_9"/>
    <origin xyz="2.5 -2.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_4"/>
    <origin xyz="-2.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_5"/>
    <origin xyz="-1.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_8"/>
    <origin xyz="1.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_12_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_12_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_12_9"/>
    <origin xyz="2.5 -3.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_4"/>
    <origin xyz="-2.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_5"/>
    <origin xyz="-1.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_8"/>
    <origin xyz="1.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_13_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_13_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_9"/>
    <origin xyz="2.5 -4.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_4"/>
    <origin xyz="-2.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_5"/>
    <origin xyz="-1.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_8"/>
    <origin xyz="1.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_14_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_14_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_14_9"/>
    <origin xyz="2.5 -5.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_4"/>
    <origin xyz="-2.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_5"/>
    <origin xyz="-1.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_8"/>
    <origin xyz="1.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_15_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_15_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_15_9"/>
    <origin xyz="2.5 -6.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_4"/>
    <origin xyz="-2.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_5"/>
    <origin xyz="-1.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_8"/>
    <origin xyz="1.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_16_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_16_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_9"/>
    <origin xyz="2.5 -7.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_4" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_4"/>
    <origin xyz="-2.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_5">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_5" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_5"/>
    <origin xyz="-1.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_8">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_8" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_8"/>
    <origin xyz="1.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>


  <link name="block_17_9">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
      <material name="wall">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.7 0.7 0.7"/>
      </geometry>
    </collision>
</link>

  <joint name="joint_block_17_9" type="fixed">
    <parent link="struct_base"/>
    <child link="block_17_9"/>
    <origin xyz="2.5 -8.5 0.5" rpy="0 0 0"/>
  </joint>

</robot>