<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_1_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_0"/>
    <origin xyz="-17.5 13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_1_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_1_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_35"/>
    <origin xyz="17.5 13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_4_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_0"/>
    <origin xyz="-17.5 10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_4_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_4_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_35"/>
    <origin xyz="17.5 10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_7_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_7_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_0"/>
    <origin xyz="-17.5 7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_7_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_7_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_35"/>
    <origin xyz="17.5 7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_10_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_10_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_0"/>
    <origin xyz="-17.5 4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_10_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_10_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_35"/>
    <origin xyz="17.5 4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_13_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_0"/>
    <origin xyz="-17.5 1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_13_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_13_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_35"/>
    <origin xyz="17.5 1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_16_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_0"/>
    <origin xyz="-17.5 -1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_16_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_16_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_35"/>
    <origin xyz="17.5 -1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_19_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_19_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_19_0"/>
    <origin xyz="-17.5 -4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_19_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_19_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_19_35"/>
    <origin xyz="17.5 -4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_22_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_22_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_22_0"/>
    <origin xyz="-17.5 -7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_22_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_22_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_22_35"/>
    <origin xyz="17.5 -7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_25_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_0"/>
    <origin xyz="-17.5 -10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_25_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_25_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_35"/>
    <origin xyz="17.5 -10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_28_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_0"/>
    <origin xyz="-17.5 -13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_28_35">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.5"/>
      </material>
    </visual>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
</link>

  <joint name="joint_block_28_35" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_35"/>
    <origin xyz="17.5 -13.5 0.625" rpy="0 0 0"/>
  </joint>

</robot>