<?xml version="1.0" ?>
<robot name="struct">
  <link name="struct_base"/>

  <link name="block_1_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_1_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_0"/>
    <origin xyz="-16.0 16.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_1_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_1_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_1_32"/>
    <origin xyz="16.0 16.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_4_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_4_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_0"/>
    <origin xyz="-16.0 13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_4_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_4_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_4_32"/>
    <origin xyz="16.0 13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_7_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_7_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_0"/>
    <origin xyz="-16.0 10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_7_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_7_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_7_32"/>
    <origin xyz="16.0 10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_10_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_10_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_0"/>
    <origin xyz="-16.0 7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_10_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_10_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_10_32"/>
    <origin xyz="16.0 7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_13_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_13_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_0"/>
    <origin xyz="-16.0 4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_13_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_13_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_13_32"/>
    <origin xyz="16.0 4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_16_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_16_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_0"/>
    <origin xyz="-16.0 1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_16_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_16_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_16_32"/>
    <origin xyz="16.0 1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_19_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_19_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_19_0"/>
    <origin xyz="-16.0 -1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_19_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_19_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_19_32"/>
    <origin xyz="16.0 -1.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_22_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_22_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_22_0"/>
    <origin xyz="-16.0 -4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_22_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_22_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_22_32"/>
    <origin xyz="16.0 -4.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_25_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_25_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_0"/>
    <origin xyz="-16.0 -7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_25_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_25_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_25_32"/>
    <origin xyz="16.0 -7.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_28_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_28_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_0"/>
    <origin xyz="-16.0 -10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_28_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_28_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_28_32"/>
    <origin xyz="16.0 -10.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_31_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_31_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_31_0"/>
    <origin xyz="-16.0 -13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_31_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_31_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_31_32"/>
    <origin xyz="16.0 -13.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_34_0">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_34_0" type="fixed">
    <parent link="struct_base"/>
    <child link="block_34_0"/>
    <origin xyz="-16.0 -16.5 0.625" rpy="0 0 0"/>
  </joint>


  <link name="block_34_32">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
      <material name="wall">
        <color rgba="1 0 0.5 0.3"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 1.25"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/> <!-- static -->
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>


  <joint name="joint_block_34_32" type="fixed">
    <parent link="struct_base"/>
    <child link="block_34_32"/>
    <origin xyz="16.0 -16.5 0.625" rpy="0 0 0"/>
  </joint>

</robot>